
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div align="center" d>

{% for x in messages %}
    <p style="color:red;font-size: x-large;font-family: 'Times New Roman'">{{ x }}</p>
{% endfor %}

</div>

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/form.css' %}" />
<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Registration Form</h3>
                    <form action="{% url "savedetails" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Login Form</h3>
                    <form action="{% url "verityuser" %}" method="post">
                        {% csrf_token %}
                        {{ form.email.label}}: {{ form.email}} <br><br>
                        {{ form.password.label}}: {{ form.password}} <br> <br>
                        <button type="submit">LOGIN</button>
                        <a href="{% url 'forgotpassword' %}" style="color: red">Forgot Password</a>
                    </form>
                </div>
            </div>
        </div>

