
{% include "header.html" %}
{#<h2 align="center" style="color: blue;font-family: 'Times New Roman';font-size:xx-large"> Welcome To TodayJobUpdates <span style="color:red">{{ email }}</span></h2>#}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/welcome.css' %}" />
{#<link rel="stylesheet" href="{% static 'css/search.css' %}" />#}
{#<script type="text/html" src="{% static 'html/search.html' %}"></script>#}
<br><br><br><br><br>

<div class="row">

	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/9c27b0/fff?text=Dilip" class="img-fluid" />
	<h3>Off Campus Drive</h3>
	</div>

	<div class="team-back">
	<span>
	Check More Jobs updatedCheck More Jobs updatedCheck More Jobs updated
        Check More Jobs updated
        Check More Jobs updatedCheck More Jobs updatedCheck More Jobs updatedCheck More Jobs updated
	</span>
	</div>

	</div>
	</div>
	<!--team-1-->

	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/336699/fff?text=Check" class="img-fluid" />
	<h3>Hyderabad Job</h3>
	</div>

	<div class="team-back">
	<span>

Hyd Fresher Jobs
        Bangalore Fresher JobsChennai Fresher JobsPune Fresher JobsNoida Fresher JobsGurgaon Fresher JobsMumbai fresher Jobs
	</span>
	</div>

	</div>
	</div>
	<!--team-2-->

	<!--team-3-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/607d8b/fff?text=Check" class="img-fluid" />
	<h3>Bangalore Jobs</h3>
	</div>

	<div class="team-back">
	<span>

Hyd Fresher JobsBangalore Fresher JobsChennai Fresher JobsPune Fresher JobsNoida Fresher JobsGurgaon Fresher JobsMumbai fresher Jobs
	</span>
	</div>

	</div>
	</div>
	<!--team-3-->

	<!--team-4-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/4caf50/fff?text=Check" class="img-fluid" />
	<h3>Chennai Jobs</h3>
	</div>

	<div class="team-back">
	<span>

Hyd Fresher JobsBangalore Fresher JobsChennai Fresher JobsPune Fresher JobsNoida Fresher JobsGurgaon Fresher JobsMumbai fresher Jobs
	</span>
	</div>

	</div>
	</div>
	<!--team-4-->

	<!--team-5-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/e91e63/fff?text=Check" class="img-fluid" />
	<h3>Noida Jobs</h3>
	</div>

	<div class="team-back">
	<span>

Hyd Fresher JobsBangalore Fresher JobsChennai Fresher JobsPune Fresher JobsNoida Fresher JobsGurgaon Fresher JobsMumbai fresher Jobs
	</span>
	</div>

	</div>
	</div>
	<!--team-5-->

	<!--team-6-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/2196f3/fff?text=Check" class="img-fluid" />
	<h3>Puna Jobs</h3>
	</div>

	<div class="team-back">
	<span>

Hyd Fresher JobsBangalore Fresher JobsChennai Fresher JobsPune Fresher JobsNoida Fresher JobsGurgaon Fresher JobsMumbai fresher Jobs
	</span>
	</div>

	</div>
	</div>
	<!--team-6-->
<!--team-7-->
		<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/607d8b/fff?text=Check" class="img-fluid" />
	<h3>Gurgaon Jobs</h3>
	</div>

	<div class="team-back">
	<span>

Hyd Fresher JobsBangalore Fresher JobsChennai Fresher JobsPune Fresher JobsNoida Fresher JobsGurgaon Fresher JobsMumbai fresher Jobs
	</span>
	</div>

	</div>
	</div>
	<!--team-7-->

    <!--team-8-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/9c27b0/fff?text=Check" class="img-fluid" />
	<h3>Mumbai Drive</h3>
	</div>

	<div class="team-back">
	<span>
	Check More Jobs updatedCheck More Jobs updatedCheck More Jobs updated
        Check More Jobs updated
        Check More Jobs updatedCheck More Jobs updatedCheck More Jobs updatedCheck More Jobs updated
	</span>
	</div>

	</div>
	</div>
	<!--team-8-->

    <!--team-9-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="http://placehold.it/110x110/4caf50/fff?text=Check" class="img-fluid" />
	<h3>Vizag Jobs</h3>
	</div>

	<div class="team-back">
	<span>

Hyd Fresher JobsBangalore Fresher JobsChennai Fresher JobsPune Fresher JobsNoida Fresher JobsGurgaon Fresher JobsMumbai fresher Jobs
	</span>
	</div>

	</div>
	</div>
	<!--team-8-->


	</div>
</div>
<br><br><br><br><br>

{% include 'footer.html' %}
<br>